@import url("https://fonts.googleapis.com/css2?family=Abel&family=Rubik:ital,wght@0,400;0,600;1,400&display=swap");

:root {
  --light: #a2c9ff;
  --blue: #428dff;
  --dim: #3e5577;
  --dark-clear: #1a202b;
  --dark: #14181f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: var(--light);
}

body {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(
    circle at 0 100%,
    var(--dark-clear),
    var(--dark) 60%
  );
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 600;
}

.awaiting {
  font-size: 1.7rem;
  color: inherit;
  animation: blink 1.5s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.border-rad {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.border-rad-i {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

p,
a,
label {
  line-height: 1.5rem;
}

header {
  width: 100%;
  padding: 1rem;
}

section {
  position: relative;
  padding: 1rem;
}

section:not(#info) {
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-size: 2.5rem;
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
  color: var(--blue);
}

label {
  margin-left: 1rem;
}

select {
  padding: 0.1rem 0.2rem;
  border: solid 2px var(--dim);
  border-radius: 5px;
  background-color: var(--dark-clear);
  font-size: 1rem;
  cursor: pointer;
}

#result-wrp,
#input-wrp {
  position: relative;
}

textarea {
  width: calc(100% - 2rem);
  margin: 1rem;
  padding: 1rem;
  border: 2px solid var(--blue);
  resize: none;
}

textarea:focus {
  outline: 2px solid var(--light);
}

#user-input {
  background-color: transparent;
}

#clear-input {
  bottom: 5rem;
}

#convert {
  width: calc(100% - 2rem);
  height: 3rem;
  margin-left: 1rem;
  padding: 0 2rem;
  border: none;
  background-color: var(--blue);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

#output {
  background-color: var(--dark-clear);
}

#copy-output,
#clear-input {
  position: absolute;
  right: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: var(--light);
  cursor: pointer;
}

#copy-output {
  bottom: 2rem;
}

#copy-output:hover,
#clear-input:hover {
  background-color: var(--dim);
}

#copy-icon,
#eraser-icon {
  fill: var(--light);
}

footer {
  width: 100%;
  padding: 2rem;
  text-align: center;
}

footer p,
footer a {
  color: var(--dim);
}

a[target]::after {
  content: "";
  display: inline-block;
  width: 0.6rem;
  aspect-ratio: 1/1;
  margin-left: 0.2rem;
  background-image: url("./assets/outside-link-icon.svg");
  background-size: contain;
}
